[submodule "contriever"]
	path = contriever
	url = git@github.com:facebookresearch/contriever.git
[submodule "DrQA"]
	path = DrQA
	url = git@github.com:facebookresearch/DrQA.git
[submodule "DrQA/"]
	branch = main
[submodule "fid"]
	path = fid
	url = https://github.com/facebookresearch/fid
